.foo {
  background-color: rGb(51, 102, 153);
  background-color: hsL(22, 48.245823%, 34.8592227%);
  color: #aa00EE;
  background-image: linear-gradient(rgb(255, 255, 255), #000000);
  outline-color: rgb(255, 0, 0);
  border-color: #f0e68c;
}

.bar {
  color: hslA(0, 0%, 50.2%, 0.5);
  background-color: rgba(128, 128, 128, 0.5);
  border-color: rgba(0, 0, 0, 0);
}
