.foo {
  background-color: rGb(51, 102, 153);
  background-color: hsL(22, 48.245823%, 34.8592227%);
  color: #aa00EE;
  background-image: linear-gradient(rgb(255, 255, 255), #000000);
  outline-color: rgb(255, 0, 0);
  border-color: #f0e68c;
  text-shadow: rgba(128, 128, 128, 0.5) 0 0;
  box-shadow: 0 0 rgba(0, 0, 0, 0);
}
