.foo {
  content: '0em 0.111 rgb(0, 0, 0)';
  font-family: Font 0pt, Font 0.777, "rgba(255, 255, 255, 0.2)", serif;
  top: 00010.7px;
  border: 0px solid red;
  margin: 0 0 0 0;
  padding: 0 0 0;
  border-width: 0 0;
  background-position: 0 0;
  -webkit-transform-origin: 0 0;
  line-height: 0.60;
  transform: rotate(-0.90deg);
  background-color: rgb(51, 102, 153);
  background-color: hsl(22, 48.245823%, 34.8592227%);
  color: #0000ee;
  background-image: linear-gradient(rgb(255, 255, 255), #000000);
}
