/*!
 * This comment will *NOT* strip.
 */@import url("/css/include.css");.foo,.bar,.baz{color:red;background-color:cyan}@media screen and (min-width: 769px){.foo{color:green;background-color:magenta}}